# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files (opcional)
*.csv
*.tsv
*.xls
*.xlsx
*.json
*.db
*.sqlite

# Environment files
.env
.venv/
venv/
ENV/
env/
*.env

# PyInstaller
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# VSCode
.vscode/

# MacOS
.DS_Store

# Jupyter runtime
~$*

# Model files
*.h5
*.hdf5
*.pkl
*.joblib

# System files
Thumbs.db
desktop.ini
